@charset "utf-8";
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  border-color: grey;
}
ol,
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
a:hover {
  color: #FF0000;
}
a {
  text-decoration: none;
  color: #555;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
select {
  -webkit-appearance: none;
}
input {
  outline: 0;
  resize: none;
  font-size: 12px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
select::-ms-expand {
  display: none;
}
/*适配不同屏幕下的电脑*/
/*类的定义*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
  border: none;
}
body {
  font: 14px "microsoft yahei", Arial, Helvetica, sans-serif, "新宋体", "宋体";
  color: #555;
  margin: 0;
  table-layout: fixed;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
}
#login > img.fullBg {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 99;
}
.login_container{
  width:680px;
  background-color:#F3F7FB;
  border:8px solid #01AEEF;
  border-radius: 6px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -340px;
  margin-top: -270px;
  z-index: 100;
  .inspect-title{
    text-align: center;
    width:330px;
    margin-left: 36px;
    margin-top: 56px;
    letter-spacing: 2px;
    color: #197FEE;
    font-size: 28px;
    padding-bottom:33px;
    background: url(../images/bottom-line.png) no-repeat center bottom;
  }
  .panel-info{
    padding:40px 78px 0;
    input{
      width:100%;
      height:60px;
      border:1px solid #ddd;
      border-radius: 6px;
      margin-bottom: 10px;
      padding-left:40px;
      font-size: 20px;
     &:first-child {
        background: #ffffff url(../images/login_user.png) no-repeat 98%  center;
       background-size: 30px 30px;
      }
      &:nth-child(2){
        background: #ffffff url(../images/login_pwd.png) no-repeat 98% center;
          background-size: 30px 30px;
      }
      &:nth-child(1):hover,&:nth-child(2):hover{
        -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
      &:nth-child(1):required:valid,&:nth-child(2):required:valid{
        background:  url(../images/valid.png) no-repeat 98% center;
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535;
        background-size: 26px 26px;
      }
      &:nth-child(1):focus:invalid,&:nth-child(2):focus:invalid{
        background:  url(../images/invalid.png) no-repeat 98% center;
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535;
        background-size: 26px 26px;
      }
    }
    .err-info{
      font-size: 20px;
      color:#f50f50;
      letter-spacing: 1px;
      margin-top:6px;
    }
    .login-btn{
      padding:0;
      width: 100%;
      height:60px;
      line-height: 60px;
      text-align: center;
      letter-spacing: 10px;
      color: #fff;
      margin-top: 44px;
      background-color: #197FEE;
      &:hover{
        background: #007d84;
      }
    }
  }
  .remind{
    display: block;
    width: 100%;
    font-size: 18px;
    color:#197FEE;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    text-decoration: underline;
    outline: none;
  }

}